In [1]:
# How to convert nested JSON into a Pandas DataFrame
# https://avithekkc.medium.com/how-to-convert-nested-json-into-a-pandas-dataframe-9e8779914a24

In [2]:
# Dependencies
import json
import pandas as pd

In [3]:
# Read in locations.json file
df = pd.read_json('locations.json')
df.head()

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Ma...
1  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Ji...
2  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Ca...
3  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Mo...
4  FeatureCollection  {'type': 'Feature', 'properties': {'name': 'Am...

In [4]:
# Read JSON data by using json.load()
with open('locations.json') as f:
    d = json.load(f)

In [5]:
# Pass JSON object to the json_normalize() function of Pandas
df = pd.json_normalize(d, record_path=['features'])
df.head()

,type,properties.name,properties.country,properties.country_code,properties.state,properties.county,properties.city,properties.postcode,properties.street,properties.housenumber,...,properties.datasource.raw.parking,properties.datasource.raw.wheelchair,properties.datasource.raw.ref:miaaddr,properties.datasource.raw.addr:housename,properties.datasource.raw.name:fr,properties.datasource.raw.diet:healthy,properties.datasource.raw.image,properties.datasource.raw.capacity,properties.datasource.raw.diet:halal,properties.datasource.raw.opening_hours:drive_through
0,Feature,Mario the Baker Pizza,United States,us,Florida,Miami-Dade County,Miami,33128,West Flagler Street,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Feature,Jimmy John's,United States,us,Florida,Miami-Dade County,Miami,33128,West Flagler Street,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Feature,Cane A Sucre,United States,us,Florida,Miami-Dade County,Miami,33128,Northwest Miami Court,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Feature,Motek - Mediterranean Cafe & Restaurant,United States,us,Florida,Miami-Dade County,Miami,33132,Northeast 1st Street,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Feature,Amarres de amor Florida,United States,us,Florida,Miami-Dade County,Miami,33132,Northeast 1st Street,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# List all the columns in the DataFrame
column_names = df.columns
column_names

Index(['type', 'properties.name', 'properties.country',
       'properties.country_code', 'properties.state', 'properties.county',
       'properties.city', 'properties.postcode', 'properties.street',
       'properties.housenumber', 'properties.lon', 'properties.lat',
       'properties.state_code', 'properties.formatted',
       'properties.address_line1', 'properties.address_line2',
       'properties.categories', 'properties.details',
       'properties.datasource.sourcename', 'properties.datasource.attribution',
       'properties.datasource.license', 'properties.datasource.url',
       'properties.datasource.raw.name', 'properties.datasource.raw.phone',
       'properties.datasource.raw.osm_id', 'properties.datasource.raw.amenity',
       'properties.datasource.raw.cuisine',
       'properties.datasource.raw.website',
       'properties.datasource.raw.osm_type',
       'properties.datasource.raw.addr:city',
       'properties.datasource.raw.addr:state',
       'properties.datasource.raw.addr:street',
       'properties.datasource.raw.addr:postcode',
       'properties.datasource.raw.building:part',
       'properties.datasource.raw.opening_hours',
       'properties.datasource.raw.addr:housenumber', 'properties.distance',
       'properties.place_id', 'geometry.type', 'geometry.coordinates',
       'properties.datasource.raw.brand', 'properties.datasource.raw.takeaway',
       'properties.datasource.raw.drive_through',
       'properties.datasource.raw.official_name',
       'properties.datasource.raw.brand:wikidata',
       'properties.datasource.raw.brand:wikipedia',
       'properties.datasource.raw.addr:unit',
       'properties.datasource.raw.check_date',
       'properties.datasource.raw.payment:bitcoincash',
       'properties.datasource.raw.height',
       'properties.datasource.raw.building',
       'properties.datasource.raw.ref:miabldg',
       'properties.datasource.raw.name:en',
       'properties.datasource.raw.diet:vegan',
       'properties.datasource.raw.diet:vegetarian',
       'properties.datasource.raw.shop',
       'properties.datasource.raw.internet_access',
       'properties.datasource.raw.email',
       'properties.datasource.raw.outdoor_seating',
       'properties.datasource.raw.survey:date',
       'properties.datasource.raw.currency:XBT',
       'properties.datasource.raw.payment:onchain',
       'properties.datasource.raw.payment:lightning',
       'properties.datasource.raw.payment:lightning_contactless',
       'properties.datasource.raw.internet_access:fee',
       'properties.datasource.raw.name:es',
       'properties.datasource.raw.building:levels',
       'properties.datasource.raw.demolished:building',
       'properties.datasource.raw.operator',
       'properties.datasource.raw.addr:country', 'properties.district',
       'properties.datasource.raw.alt_name',
       'properties.datasource.raw.contact:website',
       'properties.datasource.raw.delivery',
       'properties.datasource.raw.description',
       'properties.datasource.raw.payment:cash',
       'properties.datasource.raw.payment:visa',
       'properties.datasource.raw.payment:mastercard',
       'properties.datasource.raw.payment:american_express',
       'properties.datasource.raw.bar',
       'properties.datasource.raw.opening_hours:covid19', 'properties.hamlet',
       'properties.suburb', 'properties.datasource.raw.layer',
       'properties.datasource.raw.level', 'properties.datasource.raw.brewery',
       'properties.datasource.raw.smoking',
       'properties.datasource.raw.air_conditioning',
       'properties.datasource.raw.parking',
       'properties.datasource.raw.wheelchair',
       'properties.datasource.raw.ref:miaaddr',
       'properties.datasource.raw.addr:housename',
       'properties.datasource.raw.name:fr',
       'properties.datasource.raw.diet:healthy',
       'properties.datasource.raw.image', 'properties.datasource.raw.capacity',
       'properties.datasource.raw.diet:halal',
       'properties.datasource.raw.opening_hours:drive_through'],
      dtype='object')

In [7]:
# Create a new DataFrame with the desired columns
map_df = df[['properties.address_line1', 'properties.address_line2', 'properties.categories']]

# Display the first few rows of the new DataFrame
map_df.head(15)

,properties.address_line1,properties.address_line2,properties.categories
0,Mario the Baker Pizza,"43 West Flagler Street, Miami, FL 33128, Unite...","[catering, catering.restaurant, catering.resta..."
1,Jimmy John's,"45 West Flagler Street, Miami, FL 33128, Unite...","[catering, catering.fast_food, catering.fast_f..."
2,Cane A Sucre,"Northwest Miami Court, Miami, FL 33128, United...","[catering, catering.fast_food, catering.fast_f..."
3,Motek - Mediterranean Cafe & Restaurant,"36 Northeast 1st Street, Miami, FL 33132, Unit...","[catering, catering.restaurant, catering.resta..."
4,Amarres de amor Florida,"43 Northeast 1st Street, Miami, FL 33132, Unit...","[catering, catering.restaurant]"
5,Vero italian,"Southeast 1st Street, Miami, FL 33131, United ...","[catering, catering.restaurant]"
6,Alloy Bistro Gourmet,"154 Southeast 1st Avenue, Miami, FL 33131, Uni...","[building, building.catering, catering, cateri..."
7,Meraki Greek Bistro,"142 Southeast 1st Avenue, Miami, FL 33131, Uni...","[catering, catering.restaurant]"
8,Wok Town,"Southeast 1st Avenue, Miami, FL 33131, United ...","[catering, catering.restaurant]"
9,El Cartel Colombian Restaurant,"Southwest 2nd Street, Miami, FL 33131, United ...","[catering, catering.restaurant]"
10,Camila's Restaurante Brasileiro,"129 Southeast 1st Avenue, Miami, FL 33131, Uni...","[catering, catering.restaurant, catering.resta..."
11,New York Bagel Deli,"East Flagler Street, Miami, FL 33131, United S...","[catering, catering.restaurant]"
12,Giardino Gourmet Salads,"East Flagler Street, Miami, FL 33131, United S...","[catering, catering.restaurant]"
13,Manna Life Food,"Northeast 2nd Avenue, Miami, FL 33137, United ...","[catering, catering.restaurant, vegan, vegetar..."
14,La Licuadora,"Northeast 2nd Avenue, Miami, FL 33137, United ...","[catering, catering.restaurant]"

In [8]:
# Save the new DataFrame to a CSV file
map_df.to_csv('map_locations.csv', index=False)