In [1]:
# Dependencies
import pandas as pd
import os

In [2]:
# Import CSV file
# If we move these files, remember to update this to path properly - LAB
file_path = 'per_capita_income-miami-dade20231011.csv'

In [3]:
# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

In [4]:
# List everything in the header row (column names)
header_row = df.columns.tolist()
header_row

['Indicator Name',
 'What Is This Indicator',
 'Location Type',
 'Location',
 'Indicator Rate Value',
 'Indicator Rate Value Units',
 'Rate Lower Confidence Interval',
 'Rate Upper Confidence Interval',
 'Indicator Count Value',
 'Indicator Count Value Units',
 'Count Lower Confidence Interval',
 'Count Upper Confidence Interval',
 'Indicator Value Unstable',
 'Period of Measure',
 'Data Source',
 'Technical Note',
 'Breakout Title',
 'Breakout Category',
 'Breakout Subcategory',
 'Breakout Rate Value',
 'Breakout Rate Value Units',
 'Breakout Rate Lower Confidence Interval',
 'Breakout Rate Upper Confidence Interval',
 'Breakout Count Value',
 'Breakout Count Value Units',
 'Breakout Count Lower Confidence Interval',
 'Breakout Count Upper Confidence Interval',
 'Breakout Unstable',
 'Breakout Footer']

In [5]:
# Create a new DataFrame with selected columns
selected_columns = df[["Location Type", "Location", "Indicator Rate Value", "Indicator Rate Value Units", "Rate Lower Confidence Interval", "Rate Upper Confidence Interval"]]

In [6]:
# Display the selected columns, modified DF
selected_columns

,Location Type,Location,Indicator Rate Value,Indicator Rate Value Units,Rate Lower Confidence Interval,Rate Upper Confidence Interval
0,Zip Code,33010,19823,dollars,18798,20848
1,Zip Code,33010,18011,dollars,16951,19071
2,Zip Code,33010,17092,dollars,16281,17903
3,Zip Code,33010,15462,dollars,14858,16066
4,Zip Code,33010,14086,dollars,13470,14702
...,...,...,...,...,...,...
857,Zip Code,33196,23582,dollars,22717,24447
858,Zip Code,33196,24049,dollars,22828,25270
859,Zip Code,33196,23687,dollars,22473,24901
860,Zip Code,33196,23745,dollars,22785,24705
861,Zip Code,33196,23614,dollars,22559,24669

In [7]:
# Rename the 'Location' to 'ZipCode'
df = df.rename(columns={'Location': 'ZipCode'})

In [8]:
# Create a new DataFrame with selected columns, including renamed ZipCode
selected_columns = df[["ZipCode", "Indicator Rate Value", "Indicator Rate Value Units", "Rate Lower Confidence Interval", "Rate Upper Confidence Interval"]]

In [9]:
# Display the selected columns
selected_columns

,ZipCode,Indicator Rate Value,Indicator Rate Value Units,Rate Lower Confidence Interval,Rate Upper Confidence Interval
0,33010,19823,dollars,18798,20848
1,33010,18011,dollars,16951,19071
2,33010,17092,dollars,16281,17903
3,33010,15462,dollars,14858,16066
4,33010,14086,dollars,13470,14702
...,...,...,...,...,...
857,33196,23582,dollars,22717,24447
858,33196,24049,dollars,22828,25270
859,33196,23687,dollars,22473,24901
860,33196,23745,dollars,22785,24705
861,33196,23614,dollars,22559,24669